<div
  class="flex-container"
  [class.reverse-order]="!OrderedForward"
  [hidden]="!AreaAVisible && !AreaBVisible"
  >
  <div
    id="split-view-area-a"
    [hidden]="!AreaAVisible"
    [class.full-width]="AreaAVisible && !SplitModeOn"
    [class.half-width]="AreaAVisible && SplitModeOn">
    
    <router-outlet name="a"></router-outlet>
  </div>
  <div
    id="split-view-area-b"
    [hidden]="!AreaBVisible"
    [class.full-width]="AreaBVisible && !SplitModeOn"
    [class.half-width]="AreaBVisible && SplitModeOn">
    
    <router-outlet name="b"></router-outlet>
  </div>
</div>