<div id="navbar">
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['dashboard'])"
    [class.nav-active]="routerLinkIsActive(['dashboard']) || routerLinkIsActive(['start'])">
    Dashboard
  </a>
  | 
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['jobs'])"
    [class.nav-active]="routerLinkIsActive(['jobs'])">
    Jobs
  </a>
  | 
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['talentpool'])"
    [class.nav-active]="routerLinkIsActive(['talentpool'])">
    Talentpool
  </a>
  | 
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['new-vacancy'])"
    [class.nav-active]="routerLinkIsActive(['new-vacancy'])">
    New Vacancy
  </a>
  | 
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['my-processes'])"
    [class.nav-active]="routerLinkIsActive(['my-processes'])">
    My Processes
  </a>
  | 
  <a
    [routerLink]="getRouterLinkInputForActiveArea(['new-candidates'])"
    [class.nav-active]="routerLinkIsActive(['new-candidates'])">
    New Candidates
  </a>
</div>

<split-view-command-center></split-view-command-center>
<br />
<split-view-outlet></split-view-outlet>